*{
    overflow: hidden;
    font-family: 'Source Sans Pro', sans-serif;
}

.fw300{
    font-weight: 300;
}
.fw400{
    font-weight: 400;
}
.fw600{
    font-weight: 600;
}
.fw900{
    font-weight: 900;
}
.s7{
    font-size: 5rem;
}
 .s3{
     font-size: 1.7rem;
     letter-spacing: 1px;
 }

 .cool-btn{
     background-color: transparent;
     color: #044035;
     padding: .5rem 1rem;
     border:  1px  solid #ffff;
     font-size: 1.5;
     width: 25%;
     transition: 0.3s;
 }
 .cool-btn:hover{
     transform: translateY(-10px);
     background-color: #ffff;
     color: black;

 }




